*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  background: #1d1d1d;
  font-family: Ubuntu, Roboto, -apple-system-body, BlinkMacSystemFont, sans-serif;
  color: #ddd;
  padding: 0;
  margin: 0;
}
button {
  display: block;
  width: 100%;
  border: 0;
  cursor: pointer;
  background: #383838;
  color: #ddd;
  margin: 20px 0 0 0;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
}
iframe {
  width: 100%;
  height: 100%;
  border: 0;
  position: absolute;
}
#login {
  z-index: 20;
  padding: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1b1b1b;
}
#settingsButton {
  background: #00afd2;
  width: 40px;
  height: 40px;
  z-index: 10;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
}
#settingsButton img {
  filter: invert(1);
  width: 100%;
  height: 100%;
}
#config {
  margin: 40px 0;
  background: #292929;
  padding: 10px;
}
